mat-card {
  width: 50%;
  max-width: 600px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: var(--theme-color-accent);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

mat-card-title {
  color: var(--theme-color-primary);
}

button[mat-raised-button] {
  width: 50%;
  display: block;
  color: var(--theme-color-accent);
  background-color: var(--theme-color-primary);
  margin: 0 auto;
  max-width: 600px;
  height: 50px;
  font-size: 20px;
}

/* Adjust the styling for the displayed restaurant details */
.selected-restaurant {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e1bee7; /* light variant of deep purple */
  color: #212121; /* for better contrast */
  border-radius: 4px;
}

.selected-restaurant a {
  color: var(--theme-color-accent);
  text-decoration: none;
}

.selected-restaurant p {
  margin: 5px 0;
}
