mat-card {
  margin: 20px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

mat-card-title {
  color: var(--theme-color-primary);
}

button[mat-raised-button] {
  width: 100%;
  color: #fff;
  background-color: var(--theme-color-primary);
}

/* Adjust the styling for the displayed restaurant details */
.selected-restaurant {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e1bee7; /* light variant of deep purple */
  color: #212121; /* for better contrast */
  border-radius: 4px;
}

.selected-restaurant a {
  color: var(--theme-color-accent);
  text-decoration: none;
}

.selected-restaurant p {
  margin: 5px 0;
}
